
<figure>
<picture>
<source media="(max-width: 608px)" sizes="(max-width: 1400px) 100vw, 1400px"
srcset="
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_240,h_180/cdn/{{ include.slug }}.jpeg 240w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_836,h_627/cdn/{{ include.slug }}.jpeg 836w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1185,h_889/cdn/{{ include.slug }}.jpeg 1185w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1400,h_1050/cdn/{{ include.slug }}.jpeg 1400w">

<img
sizes="(max-width: 2333px) 100vw, 1400px"
srcset="
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_596,h_447/cdn/{{ include.slug }}.jpeg 596w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1027,h_770/cdn/{{ include.slug }}.jpeg 1027w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1352,h_1014/cdn/{{ include.slug }}.jpeg 1352w,
https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1400,h_1050/cdn/{{ include.slug }}.jpeg 1400w"
src="https://res.cloudinary.com/mgajda/image/upload/c_fill,g_auto,w_1400,h_1050/cdn/{{ include.slug }}.jpeg"
alt="">
</picture>
<figcaption>
    <em>{{ include.caption }}</em>
</figcaption>
</figure>

